@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

span,
a,
p {
  @apply text-text;
}

h1 {
  @apply text-3xl;
  @apply font-bold;
  @apply text-title;
}

@media print {
  .page-break {
    page-break-after: always;
  }
  body {
    background: var(--background) !important;
  }
  .page {
    box-shadow: none !important;
    margin: 0 !important;
    width: 100% !important;
    min-height: auto !important;
  }
}

@media screen {
  .page {
    background: var(--background);
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin: 1cm auto;
    width: 210mm;
    min-height: 297mm;
    padding: 2cm;
  }
}

@layer base {
  :root {
    --background: #fff;
    --foreground: #eaeaf4;
    --muted: #f6f6f6;
    --muted-foreground: #8c8f96;
    --accent: #c6c6c6;

    --secondary: #b1a4fb;
    --secondary50: #b1a4fb50;

    --title: #1d1e20;
    --text: #404548;
    --link: #0078f8;

    --input: #f6f6f6;
    --border: #c6c6c6;

    --danger: #ea2845;
    --success: #5fb883;
    --warning: #ddcb6b;
    --sky: #72bfe2;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;

    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #141414;
    --foreground: #1a1a1a;
    --muted: #222222;
    --muted-foreground: #5c5c5c;
    --accent: #3a3a3a;

    --secondary: #b1a4fb;

    --title: #fff;
    --text: #9d9d9d;
    --link: #0078f8;

    --input: #222222;
    --border: #3a3a3a;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
